:root {
    --f-radius: 1rem;
}

html, body {
    background: var(--f-color-background);
    font-size: 14px;
    text-rendering: optimizeLegibility;
    --f-font-body: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI Variable Display", "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    --f-font-heading: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI Variable Display", "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

@font-face {
    font-family: 'ff';
    src: url('../../public/FF-Regular.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.fronteer {
    background-color: var(--f-color-zinc-50);
    background-image: url('../../public/topography.svg');
    background-size: 100% auto !important;
    background-position: center top !important;
}

.project-info h4 {
    font-weight: bold;
}

h1 {
    font-weight: bold;
}

.home {
    background-size: 9px 9px;
    background-position: -19px -19px;
}

@keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }


[data-theme="light"] .home {
    background-image: radial-gradient(var(--f-color-base-200) 1px, transparent 0);       
}

[data-theme="dark"] .home {
    background-image: radial-gradient(var(--f-color-base-800) 1px, transparent 0);      
}

.home-main {
    padding: 6rem 10rem;
}

.home-main h1 {
    /* color: var(--f-color-surface-inverse); */
}

.project-images {
    flex: 1;
}

.project-info {
    flex: 1.5;
}

.projects {
    flex-wrap: wrap;
    position: relative;
    z-index: 3;
    padding-top: 5px;
}

.project {
    width: calc(100% / 6);
    height: 200px;
    padding: 5px;
	position: relative;
}

.project__container {
    background-color: var(--f-color-surface-inverse);
    height: 100%;
    width: 100%;
	border-radius: var(--f-radius);
	overflow: hidden;
    background-size: cover;
    background-position: center center;
	transition: outline 0.1s;
}

.project:hover {
    z-index: 10000;
}

.project__container:hover {
    outline: 5px solid var(--f-color-accent);
    outline-offset: 0px;  
    opacity: 1;  
    transition: outline 0.2s ease-out;
    background-blend-mode: normal;
}

.project__details {
	padding: 0.5rem;
	background: var(--f-color-base-950);
	color: var(--f-color-base-50);
	height: fit-content;
    width: fit-content;
}

.project__container:hover .project__details {
    display: block;
}

.project__details > .f-text {
    color: inherit;
}

.heroes {
    background: linear-gradient(15deg, var(--f-color-base-800), var(--f-color-base-900));
}

.hero  {
    width: calc(100% / 6);
    height: 300px;
	position: relative;
}

.hero__container {
    background-color: var(--f-color-base-950);
    height: 100%;
    width: 100%;
	border-radius: var(--f-radius);
    border: 1px solid var(--f-color-base-800);
	transition: outline 0.3s;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.hero-image {
    transform: rotateZ(8deg);
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: auto 100%;
    overflow: hidden;
    height: 500px;
    left: 50px;
    top: -100px;
    width: 100%;
    position: relative;
}

.hero-image > img {
    object-fit: contain;
    display: block;
    height: 100%;
    width: 100%;
}

.hero__container > * {
    z-index: 1;
}

.hero__container::before {
    content: ' ';
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-image: radial-gradient(var(--f-color-base-800) 1px, transparent 0);    
    background-size: 9px 9px;
    background-position: -19px -19px;
    z-index: 0;
}

.hero__container:hover {
    outline: 4px solid var(--f-color-accent);
    outline-offset: 0px;  
    opacity: 1;  
    z-index: 10;
}

.hero__details {
	padding: 0.5rem;
	background: var(--f-color-base-950);
	color: var(--f-color-base-50);
	height: fit-content;
    width: fit-content;
}

.hero__details > .f-text {
    color: inherit;
}

@media only screen and (max-width: 900px) {
    .project {
        width: 25%;
    }

    .hide-on-mobile {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .project {
        width: calc(100% / 3);
    }
    
    .hide-on-mobile {
        display: none;
    }
}

@media (max-width: 480px) {
    .hide-on-mobile {
        display: none;
    }

    .home-main {
        padding: 2rem;
        display: block;
        line-height: 3rem;
    }

    .home-main > h1 {
        font-size: 3rem !important;
        display: inline !important;
    }

    .project {
        width: 50%;
    }

    .project-panels {
        flex-direction: column;
        flex-direction: column-reverse;
    }

    .project-images {
        width: 100%;
    }

    .project-info {
        width: 100%;
    }

    .heroes {
        display: none;
    }
}
